<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Workers</title>
</head>
<body>
<h1>All Workers</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="worker : ${workers}">
        <td th:text="${worker.id}"></td>
        <td><a th:href="@{/workers/{id}(id=${worker.id})}" th:text="${worker.login}"></a></td>
        <td th:text="${worker.nameWorker}"></td>
    </tr>
    </tbody>
</table>
<br/>
<hr>
<a href="/workers/new"><button type="button">Новый пользователь</button></a>
</body>
</html>
