<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Worker</title>
</head>
<body>
<h1>Создание нового работника</h1>

<form th:method="POST" th:action="@{/workers}" th:object="${worker}">

    <label for="nameWorker">Имя Фамилия</label><br>
    <input type="text" th:field="*{nameWorker}" id="nameWorker">
    <br><br>

    <label for="login">Логин</label><br>
    <input type="text" th:field="*{login}" id="login">
    <br><br>

    <label for="department">Отдел:</label>
    <select id="department" name="department" th:field="*{department.id}">
        <option th:each="dept : ${departments}" th:value="${dept.id}" th:text="${dept.nameDepart}"></option>
    </select>
    <br><br>

    <input type="submit" value="Создать"/>
</form>
</body>
</html>
